---
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FIFA Player Cards</title>
  </head>
  <body class="bg-gray-100 text-black">
    <slot />
  </body>
</html>
